* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  padding: 1rem;
}
body {
  background-color: aqua;
}
main {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
form {
  text-align: center;
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
}
input {
  font-size: 1rem;
  padding: 0.5rem;
}
button {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgb(136, 231, 144);
  transition: all 0.5s ease-in-out;
}
button:hover {
  color: white;
  background-color: black;
}
h2 {
  text-align: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 1rem auto;
  background-color: aquamarine;
  width: 250px;
}
@media (min-width: 560px) {
  section {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    margin-inline: 1rem;
  }
}
